<div id="<%= dom_id article %>">
  <div class="article-detail">
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div class="article-detail">
    <strong>Body:</strong>
    <%= article.body %>
  </div>
</div>
